<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel 1</title>
    <link rel="stylesheet" href="/css/gear1.css">
</head>
<body>
    <nav class="flex-container">
        <form class="back" action="/main" method="get">
            <button class="back" type="submit">
                <h3>back</h3>
            </button>
        </form>
        <h1>Panel 1</h1>
    </nav>
    <main>
        <div class="flex-container">
            <div class="row">
                <div class="graph-element">
                    <iframe class="graph" name="iframe_a" src="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" frameborder="0"></iframe>
                    <div class="time-option">
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" target="iframe_b">5m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-15m&panelId=2" target="iframe_b">15m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-30m&panelId=2" target="iframe_b">30m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-60m&panelId=2" target="iframe_b">60m</a>    
                    </div>
                </div>
                <div class="graph-element">
                    <iframe class="graph" name="iframe_b" src="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" frameborder="0"></iframe>
                    <div class="time-option">
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" target="iframe_b">5m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-15m&panelId=2" target="iframe_b">15m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-30m&panelId=2" target="iframe_b">30m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-60m&panelId=2" target="iframe_b">60m</a>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="graph-element">
                    <iframe class="graph" name="iframe_c" src="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" frameborder="0"></iframe>
                    <div class="time-option">
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" target="iframe_b">5m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-15m&panelId=2" target="iframe_b">15m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-30m&panelId=2" target="iframe_b">30m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-60m&panelId=2" target="iframe_b">60m</a>    
                    </div>
                </div>
                <div class="graph-element">
                    <iframe class="graph" name="iframe_d" src="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" frameborder="0"></iframe>
                    <div class="time-option">
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-5m&panelId=2" target="iframe_b">5m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-15m&panelId=2" target="iframe_b">15m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-30m&panelId=2" target="iframe_b">30m</a>
                        <a href="http://ec2-54-169-216-89.ap-southeast-1.compute.amazonaws.com:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now&to=now-60m&panelId=2" target="iframe_b">60m</a>    
                    </div>
                </div>
            </div>
        </div>
        <div class="stat">
            <iframe class="stat" src="http://localhost:3000/d-solo/Roaq9ayMk/seniorproj?orgId=1&refresh=5s&from=now-5m&to=now&panelId=5" frameborder="0"></iframe>
        </div>
    </main>
</body>
</html>